.horario{
    padding: 5%;
    p{
      font-size: 140%;
     }
 }
form{
  padding: 5%;
  text-align: center;
  font-size: 130%;
  text-decoration: underline;
  font-weight: bold;
  input{
    width: 10%;
    font-size: 120%;
    font-weight: bolder;
  }
  :focus{
    border: double rgba(23,232,16,0.94) 8px;    
  }
  }
.mapa{
  padding: 4%;
  display: flex; 
  justify-content: center;
  align-items:flex-start;
  h3{
    padding: 5%;
  } 
} 
