$font:'Russo One', sans-serif;
$color-footer-bg: #0fc91a;
$color-footer-text: #000;

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
  margin: 0;
  padding: 0;
 }
html{
  font-family: 'Russo One'

}

@import "index.scss";
@import "contacto.scss";
@import "headeryfooter.scss";
@import "productos.scss";
@import "promociones.scss";
@import "mediaqu.scss"   
